.edit-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
  color: #00eaff;
}

.edit-card {
  background: #11151d;
  padding: 35px;
  border-radius: 20px;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 200, 255, 0.15);
}

.edit-card label {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 6px;
  display: block;
}

.preview-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
  border: 1px solid #1f2630;
}
